* {
    box-sizing: border-box;
    background-color: #FFEECC;
    color: black;
    font-family: 'EB Garamond', serif;
}

.est {
    font-size: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

li {
    float:left;
}

a {
    background-color: gray;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #fae0ab;
    color: rgb(255, 0, 0);
}